asgiref==3.5.1
asttokens==2.0.5
backcall==0.2.0
certifi==2022.5.18.1
charset-normalizer==2.1.0
colorama==0.4.4
decorator==5.1.1
distlib==0.3.4
executing==0.8.3
filelock==3.7.0
idna==3.3
jedi==0.18.1
Jinja2==3.1.1
jsonpickle==2.2.0
MarkupSafe==2.1.1
parso==0.8.3
pickleshare==0.7.5
pipenv==2022.5.2
platformdirs==2.5.2
prompt-toolkit==3.0.29
pure-eval==0.2.2
Pygments==2.12.0
requests==2.28.1
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
stack-data==0.2.0
traitlets==5.1.1
tzdata==2022.1
urllib3==1.26.9
virtualenv==20.14.1
virtualenv-clone==0.5.7
wcwidth==0.2.5
wsgi-static-middleware==0.1.2
yapf==0.32.0
